@model IEnumerable<SportsPro.Models.Incident>

@{
    ViewData["Title"] = "Incident Manager";
}

<h1>Incident Manager</h1>

<p>
    <a asp-action="Create">Add Incident</a>
</p>
<table class="table table-striped table-dark table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Technician.TechName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOpened)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.IncidentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IncidentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IncidentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
